<!DOCTYPE html>
<html lang="en">
<head>
    <title>KWA!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body >

<!-- Navbar -->
<nav class="bg-slate-900 fixed w-full z-10">
    <div class="container mx-auto flex justify-between items-center py-4 px-4">
        <div>
            <span class="text-amber-200 text-lg font-bold">KWA!</span>
        </div>
        <ul class="flex space-x-6">
            <li><a href="/recetas/list" class="text-white hover:text-yellow-300">Ver recetas</a></li>
            <li><a href="/recetas/about" class="text-white hover:text-yellow-300">Acerca de</a></li>
            <!-- Enlace para login solo cuando el usuario no está autenticado -->
            <li th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/recetas/login" class="text-white hover:text-yellow-300">Iniciar sesión</a>
            </li>
            <!-- Enlace para logout solo cuando el usuario está autenticado -->
            <li sec:authorize="isAuthenticated()">
                <a href="/recetas/logout" class="text-white hover:text-yellow-300">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>

<main class="bg-black bg-opacity-50 h-screen" >

<!-- Header -->
<div class="flex items-center justify-center pt-20">
    <div class="text-center text-amber-200">
        <h1 class="text-5xl font-bold mb-4">Bienvenido a Recetas con KWA!</h1>
        <p class="text-lg">En este sitio encontrarás recetas de cocina ecuatoriana y podrás saber cómo hacerlas paso a paso.</p>
    </div>
</div>

<!-- Main Content -->
<div class="container mx-auto my-16 px-4">
    <h1 class="text-5xl font-bold text-center mb-8">Recetas</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        <!-- Iterar sobre la lista de recetas usando Thymeleaf -->
        <div class="bg-white rounded-lg shadow-md overflow-hidden" th:each="receta : ${recipes}">
            <!-- Enlace a la imagen de la receta -->
            <img th:src="@{/pic/{id}.jpg(id=${receta.foto})}" class="w-full h-48 object-cover" alt="Imagen de la receta">
            <div class="p-4">
                <h2 class="text-lg font-semibold mb-2" th:text="${receta.nombre}"></h2>
                <p class="text-sm text-gray-600"><strong>Autor:</strong> <span th:text="${receta.autor}"></span></p>
                <p class="text-sm text-gray-600"><strong>Dificultad:</strong> <span th:text="${receta.dificultad}"></span></p>
            </div>
        </div>
    </div>
</div>
</main>

</body>
</html>
