<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>KWA!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<nav class="navbar navbar-expand-md">
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/recetas/list">Ver recetas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de</a>
            </li>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <li class="nav-item">
                    <a class="nav-link" href="/recetas/login">Iniciar sesión</a>
                </li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" href="/recetas/logout">Cerrar sesión</a>
                </li>
            </div>
        </ul>
    </div>
</nav>

<header class="page-header header container-fluid">
    <div class="overlay">
        <div class="description text-center text-white py-5">
            <h1>Bienvenido a Recetas con KWA!</h1>
            <p>En este sitio encontrarás recetas de cocina ecuatoriana y podrás saber cómo hacerlas paso a paso.</p>
        </div>
    </div>
</header>

<div class="container my-5">
    <h1 class="text-center mb-4">Recetas</h1>
    <div class="row row-cols-4 row-cols-md-3 g-4">
        <div class="col" th:each="receta : ${recipes}">
            <div class="card h-100">
                <img th:src="@{/pic/{id}(id=${receta.foto}+.jpg)}" class="card-img-top" alt="Imagen de la receta">
                <div class="card-body">
                    <h5 class="card-title" th:text="${receta.nombre}"></h5>
                    <p class="card-text"><strong>Autor:</strong> <span th:text="${receta.autor}"></span></p>
                    <p class="card-text"><strong>Dificultad:</strong> <span th:text="${receta.dificultad}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>
</body>
</html>
