<!DOCTYPE html>
<html lang="en">
<head>
    <title>KWA!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body >

<!-- Navbar -->
<nav class="bg-slate-900 fixed w-full z-10">
    <div class="container mx-auto flex justify-between items-center py-4 px-4">
        <div>
            <a href="/recetas/"><span class="text-amber-200 text-lg font-bold">KWA!</span></a>


            <!-- Barra de búsqueda -->
        </div>
            <form action="/recetas/buscar" method="get" class="flex items-center">
                <input type="text" name="nombre" placeholder="Buscar receta..."
                       class="px-4 py-2 rounded-l-md bg-white border border-gray-300 focus:ring focus:ring-yellow-500">
                <button type="submit" class="px-4 py-2 bg-yellow-500 text-white rounded-r-md hover:bg-yellow-600">
                    Buscar
                </button>
            </form>
        <ul class="flex space-x-6">
            <li><a href="/recetas/list" class="text-white hover:text-yellow-300">Ver recetas</a></li>
            <li><a href="/recetas/about" class="text-white hover:text-yellow-300">Acerca de</a></li>
            <!-- Enlace para login solo cuando el usuario no está autenticado -->
            <li th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/recetas/login" class="text-white hover:text-yellow-300">Iniciar sesión</a>
            </li>
            <!-- Enlace para logout solo cuando el usuario está autenticado -->
            <li sec:authorize="isAuthenticated()">
                <a href="/recetas/logout" class="text-white hover:text-yellow-300">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>

<main class="bg-black bg-opacity-75 h-screen pt-24 overflow-y-scroll">

    <!-- Header -->
    <div class="flex items-center justify-center my-20">
        <div class="text-center text-amber-200">
            <h1 class="text-5xl font-bold mb-4">Bienvenido a Recetas con KWA!</h1>
            <p class="text-lg">En este sitio encontrarás recetas de cocina ecuatoriana y podrás saber cómo hacerlas paso a paso.</p>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container mx-auto my-16 px-4">
        <h1 class="text-5xl text-amber-200 font-bold text-center mb-20">Recetas</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <!-- Iterar sobre la lista de recetas usando Thymeleaf -->
            <div class="bg-orange-200 rounded-lg shadow-lg overflow-hidden" th:each="receta : ${recipes}">
                <!-- Enlace que lleva al detalle de la receta -->
                <a th:href="@{'/recetas/detalle/' + ${receta.id}}">
                    <img
                            th:src="@{/pic/{id}.jpg(id=${receta.foto})}"
                            class="w-full h-48 object-cover hover:opacity-75 transition-transform duration-300 transform hover:scale-105 hover:brightness-75"
                            alt="Imagen de la receta"
                    >

                </a>
                <div class="p-4 flex justify-between">
                    <h2 class="text-lg font-bold mb-2 items-center" th:text="${receta.nombre}"></h2>
                    <div>
                        <p class="text-sm text-opacity-50"
                           th:classappend="${receta.dificultad} == 'Fácil' ? 'text-green-600' :
                   (receta.dificultad == 'Moderado' ? 'text-orange-600' :
                   (receta.dificultad == 'Difícil' ? 'text-red-600' : 'text-gray-600'))">
                            <span th:text="${receta.dificultad}"></span>
                        </p>

                        <p class="text-sm text-gray-600 italic"><span th:text="${receta.autor}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--<iframe width="100%" height="100%" frameborder="0" src="https://stem.ubidots.com/app/dashboards/public/dashboard/xN45RW_Qjfs3b5EOJ-rQ7TZkoA4yV95LKyLGGjy-86M?navbar=true&contextbar=true&datePicker=true&devicePicker=true&displayTitle=true"></iframe>-->
</main>


</body>
</html>