<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>KWA!</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<nav class="bg-slate-900 fixed w-full z-10">
    <div class="container mx-auto flex justify-between items-center py-4 px-4">
        <div>
            <a href="/recetas/"><span class="text-amber-200 text-lg font-bold">KWA!</span></a>
        </div>
        <ul class="flex space-x-6">
            <li><a href="/recetas/" class="text-white hover:text-amber-400">Inicio</a></li>
            <li><a href="/recetas/list" class="text-white hover:text-yellow-300">Ver recetas</a></li>
            <li><a href="/recetas/about" class="text-white hover:text-yellow-300">Acerca de</a></li>
            <li th:unless="${#authorization.expression('isAuthenticated()')}">
                <a href="/recetas/login" class="text-white hover:text-yellow-300">Iniciar sesión</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/recetas/logout" class="text-white hover:text-yellow-300">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>

<main class="bg-black bg-opacity-75 h-screen pt-24 flex items-center justify-center">

    <div class="bg-amber-950/25  text-white shadow-md rounded px-8 pt-6 pb-8 w-full max-w-sm">
        <div th:if="${param.error}" class="text-red-500 text-sm mb-4">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="text-green-500 text-sm mb-4">
            You have been logged out.
        </div>

        <form th:action="@{/recetas/login}" method="post">
            <div class="mb-4">
                <label for="usuario" class="block text-sm font-bold mb-2">Usuario</label>
                <input type="text" name="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Nombre de usuario">
            </div>
            <div class="mb-4">
                <label for="contraseña" class="block  text-sm font-bold mb-2">Contraseña</label>
                <input type="password" name="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Ingrese su contraseña">
            </div>
            <div class="flex items-center justify-between">
                <input type="submit" value="Ingresar" class="bg-yellow-800 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            </div>
        </form>
    </div>

</main>
</body>
</html>
